.app {
  text-align: center;
  background-image: url("./cloud.png");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 25px;
  text-shadow: 1px 1px #FF00DC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  background-color: #00FFFF;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  margin-top: 10px;
}

.credits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #B6FF00;
}

.credit {
  margin: 10px;
  height: 100px;
}

.app-footer {
  background-color: #00FFFF;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
  text-shadow: none;
  padding: 10px;
  margin-bottom: 10px;
}

.app-title {
  margin: 10px 30px;
  text-shadow: 3px 3px #FF00DC;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chooser {
  border: solid 5px orangered;
  width: 1000px;
  margin: 20px;
  padding: 20px;
}

.choices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
  margin: 10px;
}

.name-it {
  font-size: 35px;
  text-shadow: 1px 1px #FF00DC;
  width: 300px;
  height: 50px;
  border-width: 2px;
  cursor: pointer;
  margin: 10px;
}

.name {
  font-size: 40px;
  margin: 20px;
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.indigo {
  color: indigo;
}
.violet {
  color: violet;
}
