.app {
  text-align: center;
  background-image: url("./cloud.png");
  background-repeat: repeat;
  font-size: 25px;
  text-shadow: 1px 1px #FF00DC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chooser-wrapper {
  border-top: solid 4px gray;
  border-left: solid 4px gray;
  border-bottom: solid 4px white;
  border-right: solid 4px white;
  margin: 15px 0 15px 0;
}

.chooser {
  border-top: solid 4px black;
  border-left: solid 4px black;
  border-bottom: solid 4px lightgray;
  border-right: solid 4px lightgray;
  padding: 10px;
}

.choices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 900px;
  min-width: 300px;
  margin: 10px;
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px 5px 2px 10px;
}

.check {
  margin: 5px;
  height: 20px;
  width: 20px;
}

.choice-label {
  cursor: pointer;
  font-size: 20px;
  text-align: start;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 64px;
  height: 24px;
}

.name-it {
  font-size: 35px;
  text-shadow: 1px 1px #FF00DC;
  min-width: 200px;
  height: 75px;
  border-width: 2px;
  cursor: pointer;
  margin: 10px;
}
:hover.name-it {
  background-color: aliceblue;
}
:active.name-it {
  background-color: azure;
}

.name-container {
  margin: 20px 0 25px 0;
}

.name-label {
  font-size: 30px;
  margin: 10px;
}
.name {
  font-size: 50px;
}
